/******************************************************************************
 * Content
 ******************************************************************************/

body {
  overflow-y: scroll;
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-image: url(../img/bg.jpg);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

.container[role="main"] {
  background-color: var(--global-bg-color);
  padding: 20pt;
  border-radius: 10pt;
  border: 2pt solid var(--global-text-color);
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
