---
layout: default
---
<div class="post about-clean">
  <article>
    <!-- Projects in a single ordered list -->
    {% assign ordered_projects = site.projects | sort: "date" | reverse %}
    {% if ordered_projects and ordered_projects.size > 0 %}
      <div class="projects about-project-feed">
        <div class="row row-cols-1">
          {% for project in ordered_projects %}
            {% include projects_horizontal.liquid %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </article>
</div>
